@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background: #e3f2fd;
}

nav {
  align-items: center;
  background: #f2efef;
  box-shadow: 0 0px 1px 0 rgb(0, 0, 0, 0.1);
  display: flex;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav .logo {
  align-items: center;
  display: flex;
  margin: 0 24px;
}

.logo .menu-icon {
  color: #333;
  cursor: pointer;
  font-size: 24px;
  margin-right: 14px;
}

.logo span {
  color: #333;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar {
  background-color: #f2efef;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 260px;
  -webkit-overflow-scrolling: touch;
}

.sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content img {
  height: 100px;
  width: 100px;
}

.sidebar-content a {
  margin-left: 40px;
}

.bottom-cotent ul li a {
  border-bottom: none;
  color: #707070;
  margin-left: -0px;
}

.sidebar-content li h3 {
  margin-left: 40px;
}

li .nav-link {
  align-items: center;
  display: flex;
  margin: 8px 0;
  padding: 14px 12px;
  text-decoration: none;
}

.sidebar-content li {
  list-style: none;
}

li .nav-link:hover {
  background-color: #4070f4;
}

.endpoints-list a{
  color: black;
}
p a:hover{
  border-bottom:none;
  text-decoration: none; 
}
.endpoints-list a:hover,
.bottom-cotent a:hover { 
  border-bottom:none;
  color: #007bff;
  text-decoration: none; 
}

li:hover i,li:hover span{
  color: white
}
.bottom-cotent li:hover i,
.bottom-cotent li:hover span {
  color: #007bff;
}
.nav-link i {
  color: #707070;
  font-size: 20px;
  margin-right: 14px;
}

.nav-link span {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

li .nav-link:hover i,
li .nav-link:hover span{
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 1000vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all 0.4s ease;
  width: 200%;
}

.dialog-centered {
  margin-left: 40px;
}

nav.open~.overlay {
  left: 260px;
  pointer-events: auto;
}

.api-side {
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  padding-left: 4rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  right: 0;
  width: 75%;
  -webkit-overflow-scrolling: touch;
}

body,
html {
  color: #333;
  font-size: 18px;
  font-family: karla, monospace;
  line-height: 1.8;
}

.api-side h3 {
  margin: 2rem 0;
  padding-top: 4rem;
  text-transform: uppercase;
}

.h3,
h3 {
  font-size: 24px;
}

.endpoints-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.endpoints-list li {
  display: inline-block;
  margin-right: 1rem;
}

a {

  border-bottom: 2px solid #1a91db;
  color: #333;
  transition: all 300ms ease-out;
  text-decoration: none;

}

.api-side h3 {
  margin: 2rem 0;
  padding-top: 4rem;
  text-transform: uppercase;
}

.endpoint {
  margin: 2rem 0 4rem;
}

.main-wrapper {
  background-color: #eee;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  height: 40px;
  line-height: 1;
}

.main-wrapper span {
  font-family: ubuntu mono, monospace;
  display: inline-block;
  height: 40px;
  padding: 0.5rem 1rem;
}

.breeds-all .json,
.hound-all .json,
.afghan-hound-all .json,
.afghan-hound-images-all .json {
  width: 100%;
}

.try {
  background-color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin-top: 2rem;
}

.try .json {
  padding-right: 2rem;
}

h4,h5,h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  color: #333;
  font-size: 13px;
  line-height: 1.42857143;
  overflow: auto;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}