* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  border-bottom: 1px solid #cccccc;
  background: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav .nav-info .logo img {
  cursor: pointer;
  margin: 5px 0;
  width: 100px;
}
nav .logo img {
  height: 50px;
  padding-left: 40px;
}
nav .nav-info {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
nav .nav-info .search-bar {
  background: #efefef;
  border-radius: 30px;
  height: 40px;
  left: 15px;
  margin-left: 10px;
  padding: 0 10px;
  position: relative;
  width: 250px;
}
nav .nav-info .search-bar i {
  color: #919191;
  font-size: 19px;
  line-height: 40px;
  margin-right: 5px;
}
nav .nav-info .search-bar input {
  background: transparent;
  border: 0;
  font-size: 16px;
  outline: none;
  width: 200px;
}
nav .middle-nav {
  position: relative;
  right: 45px;
}
nav .middle-nav i {
  font-size: 22px;
  margin: 0 45px 0 45px;
}
nav .middle-nav i:hover {
  color: #45abff;
  cursor: pointer;
}
nav .nav-message {
  align-items: center;
  display: flex;
  margin-right: 10px;
}
nav .nav-message i {
  background: #efefef;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  margin-left: 8px;
  padding-left: 8px;
  width: 35px;
}
nav .nav-message img {
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  line-height: 45px;
  margin-left: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 35px;
}

.profile-container {
  color: #626262;
  padding: 20px 15%;
}
.profile-container .cover-img {
  border-radius: 6px;
  width: 100%;
}
.profile-container .pd-img {
  border-radius: 50%;
  cursor: pointer;
  line-height: 45px;
  margin-top: -40px;
  margin-left: 20px;
  margin-right: 10px;
}
.profile-container .profile-details {
  align-items: flex-start;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.profile-container .pd-row {
  display: flex;
}
.profile-container .profile-name {
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: -30px;
}
.profile-container p {
  font-size: 13px;
  padding-left: 15px;
}
.profile-container .profile-name img {
  border-radius: 50%;
  margin-top: 0px;
  margin-right: -30px;
  width: 25px;
}

.pd-right {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  left: 20%;
  margin-left: 40px;
  padding: 10px 10px;
  position: relative;
  margin-top: 10%;
}
.pd-right .second {
  background: #c1b9b9;
  padding: 7px 15px;
}
.pd-right button:first-child {
  margin-right: 20px;
  padding: 5px 10px;
}

.manage-nav {
  border-bottom: none;
  margin-top: -15px;
}

.fa-down {
  padding-left: 10px;
}

.contain-more {
  background: #e4e6eb;
  border-radius: 8px;
  float: right;
  padding: 5px;
  padding-left: 17px;
  padding-right: 17px;
}

.profile-img {
  border-radius: 50%;
  background: #e4e6eb;
  height: 30px;
  left: -12%;
  position: relative;
  top: 115px;
  width: 30px;
}
.profile-img i.profile-camera {
  margin: 6px 7px;
}

.my-post {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  flex-basis: 65%;
  float: right;
  height: auto;
  margin: 10px 0;
  padding: 10px 15px;
  width: 106%;
}

.post-col .my-post img {
  border-radius: 50%;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 45px;
}
.post-col .post-top {
  align-items: center;
  display: flex;
}
.post-col .post-top input {
  background: #efefef;
  border-radius: 30px;
  border: 0;
  font-size: 17px;
  margin-left: 20px;
  outline: none;
  padding: 10px;
  width: 90%;
}
.post-col input:hover {
  background: #e3e3e3;
  cursor: pointer;
}
.post-col .my-post hr {
  background: #cccccc;
  border: 0;
  height: 1px;
  margin: 10px 0;
  width: 100%;
}
.post-col .post-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px auto;
}
.post-col .post-icon {
  display: flex;
  cursor: pointer;
  margin: 0 auto;
  padding: 7px 40px;
}
.post-col .post-icon:hover {
  background: #efefef;
  border-radius: 8px;
}
.post-col .post-icon i.red {
  color: red;
  font-size: 23px;
  margin-right: -8px;
}
.post-col .post-icon i.green {
  color: #38df49;
  font-size: 23px;
  margin-right: -8px;
}
.post-col .post-icon i.blue {
  color: #2836f7;
  font-size: 23px;
  margin-right: -8px;
}

.profile-info {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.info-col {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  height: 470px;
  margin: 10px 0;
  padding: 10px 15px;
  flex-basis: 38%;
  margin-right: 40px;
}

.profile-intro h3 {
  font-weight: 600;
}

.profile-intro input {
  background: #efefef;
  border-radius: 5px;
  border: 0;
  color: black;
  font-size: 17px;
  margin-left: 20px;
  outline: none;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.profile-intro p {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 10px;
}

.intro-text i.education {
  margin-right: 5px;
}

.post-manage .filter-post {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  flex-basis: 65%;
  float: right;
  height: auto;
  margin: 10px 0;
  padding: 10px 15px;
  width: 106%;
  height: 140px;
  margin-top: -32%;
  width: 60.5%;
}

.filter-post h3 {
  font-weight: 600;
}

.filter-post .filter-top {
  display: flex;
}

.post-left {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  left: 20%;
  margin-left: 40px;
  padding: 10px 10px;
  position: relative;
  padding-left: 40px;
}

.post-maintain {
  margin-left: 40px;
  padding-left: 40px;
}

.post-left .second {
  background: #e4e6eb;
  padding: 7px 15px;
}

.post-left button:first-child {
  padding: 7px 10px;
  margin-right: 20px;
  background: #e4e6eb;
  margin-left: 15px;
}

.filter-post .filter-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px auto;
}

.filter-bottom .filter-icon {
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  padding: 7px 40px;
}
.filter-bottom .filter-icon:hover {
  background: #efefef;
  border-radius: 8px;
}
.filter-bottom .filter-icon i.filter {
  font-size: 23px;
  margin-right: -8px;
}
.filter-bottom .filter-icon i.grid {
  font-size: 23px;
  margin-right: -8px;
}

.friends-post {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  float: right;
  height: auto;
  margin-top: -16%;
  padding: 10px 15px;
  width: 60.5%;
}

.friends-post .friend-post-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.friend-post-top .img-and-name {
  display: flex;
}

.friend-post-top .img-and-name img {
  border-radius: 50%;
  cursor: pointer;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 45px;
}

.img-and-name .friends-name .friends-name {
  cursor: pointer;
  font-weight: bold;
}

.img-and-name .friends-name .friends-name:hover {
  text-decoration: underline;
}

.img-and-name .friends-name .time {
  color: #919191;
  font-size: 14px;
  margin: 3px 0;
  margin-top: -10px;
}

.img-and-name .friends-name .time i {
  font-size: 10px;
  margin-left: 5px;
}

.menu {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.menu:hover {
  background: #efefef;
  cursor: pointer;
}

.friends-post .friend-post-top .menu i {
  font-size: 18px;
  line-height: 35px;
  margin-left: 8px;
}

.friends-post img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.friends-post .info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.friends-post .info .emoji-img {
  display: flex;
}

.friends-post .info .emoji-img img {
  height: 20px;
  width: 20px;
}

.info .emoji-img p {
  color: #919191;
  font-size: 14px;
  margin-left: 10px;
}

.info .comment {
  align-items: center;
  display: flex;
}

.info .comment p {
  padding: 0 12px;
  font-size: 15px;
  color: #919191;
}

.friends-post hr {
  background: #cccccc;
  border: 0;
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

.friends-post .like {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.friends-post .like .like-icon {
  display: flex;
  padding-top: 10px;
}

.friends-post .like .like-icon i {
  color: #919191;
  font-size: 20px;
  margin-right: 8px;
}

.friends-post .like .like-icon i .activi {
  color: #45abff;
}

.friends-post .comment-warpper {
  align-items: center;
  display: flex;
}

.friends-post .comment-warpper img {
  border-radius: 50%;
  height: 35px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 35px;
}

.friends-post .comment-warpper .circle {
  background: #27cc37;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 10px;
  position: relative;
  right: 25px;
  top: 15px;
  width: 10px;
}

.friends-post .comment-warpper .comment-search {
  background: #efefef;
  border-radius: 30px;
  padding: 5px 15px;
  width: 95%;
}

.friends-post .comment-warpper .comment-search input {
  background: none;
  border: none;
  height: 30px;
  outline: none;
  width: 85%;
}

.friends-post .comment-warpper .comment-search i {
  color: #919191;
  padding: 0 5px;
}

.info-photo {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  height: 470px;
  margin: 10px 0;
  padding: 10px 15px;
  margin-top: -6%;
  width: 38%;
}

.title-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title-box a {
  font-size: 20px;
  text-decoration: none;
}

.photo-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}

.photo-box div img {
  cursor: pointer;
  width: 100%;
}

.info-friends {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  height: 470px;
  margin: 10px 0;
  padding: 10px 15px;
  height: 560px;
  margin-top: -6%;
  width: 38%;
}

.friend-box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}

.friend-box div img {
  cursor: pointer;
  padding-bottom: 40px;
  width: 100%;
}

.friend-box div {
  position: relative;
}

.friend-box p {
  bottom: 0;
  left: 0;
  position: absolute;
}

.edit-cover {
  background: #c1b9b9;
  bottom: 70px;
  border-radius: 8px;
  float: right;
  margin-right: 20px;
  position: relative;
  width: 160px;
}

.edit-cover button:first-child {
  background: white;
  padding: 7px 10px;
}

.edit-cover button i.cover {
  margin-right: 5px;
}/*# sourceMappingURL=styles.css.map */